# Env
.env
.env.local
.env.*.local

# Dependencies
node_modules/
**/node_modules/

# Build
dist/
build/
.next/

# Logs
*.log
npm-debug.log*

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Docker
*.env

# Uploads (lokal)
uploads/

# Certs
nginx/certs/
